{
  "uiScale": 1.0,
  "fontScale": 1.0,
  "use24Hour": true,
  "showSeconds": false,
  "showBattery": true,
  "showMediaWhenPlaying": true,
  "morphToTopBarWhenMaximized": true,
  "reserveSpaceWhenMaximized": true,
  "hideOnFullscreen": true,
  "autoCollapseTimeout": 3000,
  "dockAutoHideOnFullscreen": true,
  "dockAutoHideFromWindows": true,
  "dockAutoHideAlways": false,
  "dockScaleHover": 1.28,
  "showCaffeineIcon": true,
  "showWifiIcon": true,
  "showBluetoothIcon": true,
  "showMicIcon": false,
  "showClipboardIcon": true,
  "showProfileIcon": true,
  "showHardwareIcon": false,
  "showUsbIcon": true,
  "pinUsbIcon": false,
  "showNotificationIcon": true,
  "pinNotificationIcon": false,
  "showBatteryIcon": true,
  "showWindowControls": true,
  "autoHideWindowControls": false,
  "showVirtualDesktops": true,
  "autoHideVirtualDesktops": false,
  "showAppTrayPill": true,
  "autoHideAppTrayPill": false,
  "showDetachedNotifBubble": true,
  "showExpandedCalendar": true,
  "showExpandedMedia": true,
  "showExpandedNotifications": true,
  "showExpandedAudioSink": true,
  "showExpandedVolume": true,
  "showExpandedBrightness": true
}
