{
  "uiScale": 1.0,
  "fontScale": 1.0,
  "use24Hour": true,
  "showSeconds": false,
  "showBattery": true,
  "showMediaWhenPlaying": true,
  "morphToTopBarWhenMaximized": true,
  "reserveSpaceWhenMaximized": true,
  "hideOnFullscreen": true,
  "autoCollapseTimeout": 3000,
  "dockAutoHideOnFullscreen": true,
  "dockAutoHideFromWindows": true,
  "dockAutoHideAlways": false,
  "dockShowBorder": false,
  "dockTransparent": false,
  "dockPosition": "bottom",
  "dockIconSize": 44,
  "dockScaleHover": 1.28,
  "showCaffeineIcon": true,
  "showDndIcon": true,
  "dndEnabled": false,
  "showWifiIcon": true,
  "showBluetoothIcon": true,
  "showMicIcon": false,
  "showClipboardIcon": true,
  "showProfileIcon": true,
  "showHardwareIcon": false,
  "showUsbIcon": true,
  "pinUsbIcon": false,
  "showNotificationIcon": true,
  "pinNotificationIcon": false,
  "showBatteryIcon": true,
  "showWindowControls": true,
  "autoHideWindowControls": false,
  "showVirtualDesktops": true,
  "autoHideVirtualDesktops": false,
  "showAppTrayPill": true,
  "autoHideAppTrayPill": false,
  "showDetachedNotifBubble": true,
  "showOsd": true,
  "showTimerInPill": true,
  "showExpandedTimer": true,
  "showExpandedCalendar": true,
  "showExpandedMedia": true,
  "showExpandedNotifications": true,
  "showExpandedAudioSink": true,
  "showExpandedAppMixer": true,
  "showExpandedVolume": true,
  "showExpandedBrightness": true,
  "launcherDefaultView": "grid",
  "launcherDensity": "comfortable",
  "launcherStartTab": "All",
  "launcherShowCategories": true,
  "launcherGridColumns": 4,
  "launcherShowGenericNames": true
}
