{
  "uiScale": 1.0,
  "fontScale": 1.0,
  "fontFamily": "",
  "fontDisplayFamily": "",
  "colorScheme": "dark",
  "accentColor": "blue",
  "cornerStyle": "default",
  "use24Hour": true,
  "showSeconds": false,
  "showBattery": true,
  "showMediaWhenPlaying": true,
  "morphToTopBarWhenMaximized": true,
  "reserveSpaceWhenMaximized": true,
  "hideOnFullscreen": true,
  "autoCollapseTimeout": 3000,
  "dockAutoHideOnFullscreen": true,
  "dockAutoHideFromWindows": true,
  "dockAutoHideAlways": false,
  "dockShowBorder": false,
  "dockTransparent": false,
  "dockTint": "cool",
  "dockTintStrength": 0.08,
  "dockOpacity": 0.85,
  "dockGlassOpacity": 0.35,
  "dockPosition": "bottom",
  "dockIconSize": 44,
  "dockScaleHover": 1.28,
  "showCaffeineIcon": true,
  "showDndIcon": true,
  "dndEnabled": false,
  "caffeineEnabled": false,
  "showWifiIcon": true,
  "showBluetoothIcon": true,
  "showMicIcon": false,
  "showClipboardIcon": true,
  "showProfileIcon": true,
  "showHardwareIcon": false,
  "showUsbIcon": true,
  "pinUsbIcon": false,
  "showNotificationIcon": true,
  "pinNotificationIcon": false,
  "showBatteryIcon": true,
  "showWindowControls": true,
  "autoHideWindowControls": false,
  "showVirtualDesktops": true,
  "autoHideVirtualDesktops": false,
  "showAppTrayPill": true,
  "autoHideAppTrayPill": false,
  "showDetachedNotifBubble": true,
  "showOsd": true,
  "showDesktopOsd": true,
  "showTimerInPill": true,
  "widgets": {
    "calendar": true,
    "timer": true,
    "media": true,
    "audioOutput": true,
    "appMixer": true,
    "volume": true,
    "brightness": true
  },
  "launcherDefaultView": "grid",
  "launcherDensity": "comfortable",
  "launcherStartTab": "All",
  "launcherShowCategories": true,
  "launcherGridColumns": 4,
  "launcherShowGenericNames": true,
  "clipboardMaxItems": 50,
  "clipboardSensitiveExpiry": 60,
  "clipboardIgnoredApps": []
}
